/.project
/target
.DS_Store
infer-out
bazel-*
*~
/org.eclipse.jgit.ant/nb-configuration.xml
/org.eclipse.jgit.ant.test/nb-configuration.xml
/org.eclipse.jgit.http.apache/nb-configuration.xml
/org.eclipse.jgit.ssh.apache/nb-configuration.xml
/org.eclipse.jgit.ssh.apache.test/nb-configuration.xml
/org.eclipse.jgit.archive/nb-configuration.xml
/org.eclipse.jgit.ui/nb-configuration.xml
/org.eclipse.jgit.pgm/nb-configuration.xml
/org.eclipse.jgit.pgm.test/nb-configuration.xml
/org.eclipse.jgit.test/nb-configuration.xml
/org.eclipse.jgit/nb-configuration.xml
/org.eclipse.jgit.http.server/nb-configuration.xml
/org.eclipse.jgit.http.test/nb-configuration.xml
/org.eclipse.jgit.junit.http/nb-configuration.xml
/org.eclipse.jgit.junit.ssh/nb-configuration.xml
/org.eclipse.jgit.junit/nb-configuration.xml
/org.eclipse.jgit.lfs/nb-configuration.xml
/org.eclipse.jgit.lfs.server/nb-configuration.xml
/org.eclipse.jgit.lfs.test/nb-configuration.xml
/org.eclipse.jgit.lfs.server.test/nb-configuration.xml
/nb-configuration.xml
/org.eclipse.jgit.coverage/nb-configuration.xml